{% extends "layout.html" %}
{% block content %}
    <div class="d-flex justify-content-end mb-3">
        <a href="/" class="btn btn-transparent btn-close" aria-label="Close"></a>
    </div>
    <h1 class="text-center">About Me</h1>
    <p class="text-center">
        Hi, Welcome to Here Store, Here Store is a Creative Private Server Store that sells Creative Private Server Locks, I as the Store owner have role God. I also have Testimonials, check in Contact if you want to buy or see Testimonials.
    </p>
{% endblock %}
